/*---------------------------Start Pagination Css-------------------------- */
.Table__itemCount {
    /* margin-top: 10px; */
    font-size: 14px;
  }
  
  
  .Table__pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
  }
  
  .Table__pageButton {
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .Table__pageButton:disabled {
    cursor: not-allowed;
    color: gray;
  }
  
  .Table__pageButton--active {
    color: #45b3e3;
    font-weight: bold;
  }
  /*---------------------------End Pagination Css-------------------------- */
  .setDistwoItem{
    margin-top: 4px;
    margin-left: 10px;
  }
  .formToWrite{
    font-weight: normal;
    font-size: 13px;
    padding: 8px;
    color: #2F7BA9;
  }
  .rfSubmitBtn{
    height: 37px;
    background-color: #6495ED !important;
  }
  .setWithForPan{
    width:100%;
  }
.setWithForPan .makeStyles-textField-81 {
  width: 100%;
}
::placeholder{
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.ReactTable .-pagination .-previous, .ReactTable .-pagination .-next{
  background-color: #3e5879;
  color: #fff;
}
.ReactTable .-pagination .-btn {
  color: #fff;
}
.ReactTable .-pagination .-pageJump input {
  height: 25px;
  margin-top: 8px;
}
.rtTotalShowMainDiv{
  width: 200px;
  height: 33px;
  text-align: center;
  font-weight: bold;
  margin-left: 20%;
  padding: 5px 10px 0px 10px;
  color: #6495ed
}
.rtsearchMainDiv{
  width: 70%;
	height: 37px;
	display: flex;
	justify-content: flex-end;
	margin-left: 29%;
}
.rtsearchInpField{
  width: 100%;
  background-color: #fff;
  padding: 10px;
}
.rtsearchSubBtn{
  width: 20px;
  margin-top: 2px;
  color: #fff;
}
.rtExportBtn{
  cursor: pointer;
  margin-left: 30px;
  color: #fff;
  font-weight: bold;
}
.rtSelectopt{
  width: 30%;
  border-radius: 6px;
  margin-left: 5px;
  display: block;
  height: 35px;
}
.rtDateSubBtn{
  color: #fff !important;
  font-weight: bold !important;
}
.rtMainDivForDate{
  justify-content: end;
  align-items: center;
  width: 30%;
  margin-top: 10px;
}
.rtMainBoxForDate{
  border-bottom: 1px solid gre;
  height: 50px;
}
.rtCalenderCollpse{
  width: 300px;
  background-color: #fff;
  color: #000;
  border: 1px solid lightGrey;
  position: absolute;
  top: 200px;
  z-index: 200;
  left: 10px;
}
.photoMainHeading{
  font-size: 22px;
  font-weight: bold

}